/*https://www.template.net/cms-templates/wordpress-templates/question-answer-wp-theme/*/
html{background-color:rgba(243,243,243,1);}
.main{width:70%;height:auto;background-color:rgba(243,243,243,1);float:left;clear:both;}
.ans{width:94%;height:auto;background-color:white;margin-bottom:10px;margin-top:10px;margin-left:30px;
  padding-bottom:40px;padding-top:20px;}
.ans p{margin-left:30px;font-size:20px;margin-top:20px;margin-right:30px;}
.name1{font-size:30px;color:grey;}
